<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn statistic</title>
    <link rel="stylesheet" href="css/review_style.css">
</head>
<body>
    <h1>Learn path review</h1>

    <h2>Completed tasks</h2>

    <table>
        <caption>Tabulka hotových tasků</caption>
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Lecturer</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Length</th>
                <th>Cost</th>
                <th>Technology</th>
                <th>Type</th>
                <th>Materials</th>
                <th>Estimated time</th>
            </tr>
        </thead>
        <tbody>
            {% for task in completed %}
            <tr>
                <td>{{ task.title | title }}</td>
                <td>{{ task.description | title }}</td>
                <td>{{ task.lecturer | title }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.end_date }}</td>
                <td>{{ task.length | title }}</td>
                <td>{{ task.cost | title }}</td>
                <td>{{ task.technology | title }}</td>
                <td>{{ task.type | title }}</td>
                <td>
                    {% for material in task.materials %}
                    <ul>
                        <li>
                            <a href="{{ material.href}}">{{ material.text | title }}</a>
                        </li>
                    </ul>
                    {% endfor %}
                </td>
                <td>{{ task.estimate_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>

        </tfoot>
    </table>

</body>
</html>