/* GENERAL */


body {
    margin: 0;
    background: #eeefed;
    font-family: 'Open Sans', sans-serif;
    padding: 30px;
}

section > h1 {
    font-weight: 300;
    font-size: 27px;
    text-align: center;

}

h1 {
    text-transform: uppercase;
}


h1 > i {
    margin-right: 10px;
}



section {
    margin-top: 30px;
    padding: 20px 30px;
    /* overflow: hidden; */
    /* clear: both; */
}

section p {
    text-align: justify;
}

#about {
    /* background-color: #67cde4; */
    background-color: #00bdbd;
    color: #fff;
    border-radius: 10px;

}

#contact h1 {
    text-decoration-color: #fff;
}

#about img {
    width: 220px;
    border: #fff 5px solid;
    border-radius: 50%;
}

#about aside {
    align-self: center;
    margin-left: 40px;
    max-width: 300px;
}

#about p {
    font-style: italic;
}

.p-exp {
    width: 500px;
    font-style: italic;
}

ul li {
    margin-bottom: 10px;
}

.flex-sections {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
}

#about .flex-sections div:first-child {
    max-width: 800px;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex-box div:first-child {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-bottom: solid 1px;
}

.flex-box div:last-child {
    font-weight: bold;
    font-size: 20px;
    color: #00bdbd;
}

#experience .flex-box:last-child div:first-child,
#education .flex-box:last-child div:first-child {
    border-bottom: none;
}

.python-logo {
    color:#3772a4;
}

.html-logo {
    color:#f16528;
}

.css-logo {
    color:#016fba;
}

.js-logo {
    color:#e3c531;
}

.git-logo {
    color:#f05033;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 25px;
    row-gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    width: 900px;
    margin: 30px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-style: italic;
}

.g-item {
    padding: 10px;
}

#contact {
    background-color: #3b4141;
    color: #fff;
}

.btn-down {
    display: inline-block;
    padding: 15px;
    margin: 20px auto;
    text-decoration: none;
    color: #fff;
    background-color:rgb(243, 95, 95);
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 14pt;
    text-transform: uppercase;
}

a.btn-down:hover {
    background-color: grey;
    color: lightgrey;
}

.menu {
    width: 100%;
    list-style: none;
    padding-left: 0;
}

.menu li {
    display: inline-block;
}

.nav-bar {
    background: #fff;
    border: 2px solid grey;
    border-radius: 10px;
    text-align: center;
}

.nav-bar li {
    margin: 20px auto;
}

.nav-bar a {
    text-decoration: none;
    font-size: 16pt;
    font-weight: 700;
    color: #504A4B;
    margin: 0 5px;
    padding: 14px 22px;
}

.nav-bar a:hover {
	text-shadow: -1px -1px 0px #fff, -2px -2px 0px #000;
    background-color:rgb(243, 95, 95);
    border-radius: 5px;
    color: black;
}

.social,
.personal,
.tools {
    text-align: center;
}

.social {
    background-color: #00bdbd;
}

.social li,
.personal li {
    margin: 50px;
    margin-right: 25px;
}

.personal li {
    margin-top: 30px;
}

.tools li {
    margin-top: 50px;
    margin-right: 50px;
}

.social a,
.personal a {
    text-decoration: none;
    color: #fff;
}

.social i:hover,
.personal i:hover {
    color:lightgrey;
}

.social i,
.personal i {
    color: #fff;
    margin-right: 5px;
}

.personal i > span {
    font-size: 20px;
}